Repository just-a-mango/spacedrive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brxken128, @fogodev, @jamiepine, @oscartbeaumont, @brendonovich, @Brendonovich, @spacedriveapp/mobile, @spacedriveapp/frontend, @utkubakir

.github/CODEOWNERS:

# default
# disabled for now because we have some dead code that doesn't really need reviewed yet
# * @spacedriveapp

# crates
/crates/crypto @brxken128
/crates/ffmpeg @fogodev
/crates/file-ext @jamiepine
/crates/p2p @oscartbeaumont
/crates/prisma-cli @brendonovich
/crates/sync @brendonovich

# documentation
/apps/landing/src/pages/docs/ @jamiepine
/docs/ @jamiepine

# frontend apps (Rust bridges and tech functionality -- no real visual implications)
/apps/desktop/ @jamiepine @Brendonovich @oscartbeaumont
/apps/web/ @jamiepine

# mobile
/apps/mobile/ @spacedriveapp/mobile

# core logic
/core/ @jamiepine @Brendonovich @oscartbeaumont @fogodev @brxken128
/packages/macos/ @jamiepine @Brendonovich @oscartbeaumont

# server app
/apps/server/ @oscartbeaumont

# landing site
/apps/landing/ @spacedriveapp/frontend

# UI
/packages/interface/ @spacedriveapp/frontend @utkubakir
/packages/ui/ @spacedriveapp/frontend
/packages/assets/ @spacedriveapp/frontend @utkubakir

# base config files
/* @jamiepine

# workspace settings
/.vscode/settings.json @jamiepine
/.github/* @jamiepine @Brendonovich @oscartbeaumont

# CI
/.github/actions/ @Brendonovich @oscartbeaumont
/.github/workflows/ @Brendonovich @oscartbeaumont

# development workflow
/.github/scripts/ @oscartbeaumont
/.github/ISSUES_TEMPLATE/ @jamiepine @Brendonovich @oscartbeaumont

fix prettier?
  interface/types/declarations.d.ts
Owners: none

pnpm format
  interface/app/$libraryId/Layout/Sidebar/Contents.tsx
  interface/app/$libraryId/Layout/Sidebar/Footer.tsx
  interface/app/$libraryId/Layout/Sidebar/IsRunningJob.tsx
  interface/app/$libraryId/Layout/Sidebar/LibrarySection.tsx
  interface/app/$libraryId/Layout/Sidebar/Section.tsx
  interface/app/$libraryId/Layout/Sidebar/helpers.ts
Owners: none

fix pod file & use our apple team account
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Spacedrive.xcodeproj/project.pbxproj
Owners: @spacedriveapp/mobile

fix tailwind plugin and add useTheme hook
  apps/mobile/.eslintrc.js
  apps/mobile/app.json
  apps/mobile/src/App.tsx
  apps/mobile/src/constants/style/Colors.ts
  apps/mobile/src/constants/style/tailwind.js
  apps/mobile/src/hooks/useTheme.ts
  apps/mobile/src/lib/tailwind.ts
  apps/mobile/src/navigation/TabNavigator.tsx
  apps/mobile/tailwind.config.js
  packages/config/eslint/reactNative.js
  packages/config/package.json
Owners: @spacedriveapp/mobile

Order tailwindcss classes correctly :)
  apps/mobile/src/App.tsx
  apps/mobile/src/components/drawer/DrawerContent.tsx
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/drawer/DrawerLocations.tsx
  apps/mobile/src/components/drawer/DrawerTags.tsx
  apps/mobile/src/components/explorer/FileRow.tsx
  apps/mobile/src/components/form/Switch.tsx
  apps/mobile/src/components/header/Header.tsx
  apps/mobile/src/components/key/PasswordMeter.tsx
  apps/mobile/src/components/layout/Card.tsx
  apps/mobile/src/components/layout/Dialog.tsx
  apps/mobile/src/components/layout/Modal.tsx
  apps/mobile/src/components/menu/SortByMenu.tsx
  apps/mobile/src/components/modal/inspector/ActionsModal.tsx
  apps/mobile/src/components/modal/tag/UpdateTagModal.tsx
  apps/mobile/src/components/primitive/Button.tsx
  apps/mobile/src/components/primitive/InfoPill.tsx
  apps/mobile/src/components/primitive/Menu.tsx
  apps/mobile/src/components/settings/SettingsContainer.tsx
  apps/mobile/src/components/settings/SettingsItem.tsx
  apps/mobile/src/screens/NotFound.tsx
  apps/mobile/src/screens/Search.tsx
  apps/mobile/src/screens/Spacedrop.tsx
  apps/mobile/src/screens/Spaces.tsx
  apps/mobile/src/screens/onboarding/GetStarted.tsx
  apps/mobile/src/screens/onboarding/MasterPassword.tsx
  apps/mobile/src/screens/onboarding/NewLibrary.tsx
  apps/mobile/src/screens/onboarding/Privacy.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/screens/settings/client/GeneralSettings.tsx
  apps/mobile/src/screens/settings/client/LibrarySettings.tsx
  apps/mobile/src/screens/settings/library/LocationSettings.tsx
  apps/mobile/src/screens/settings/library/TagsSettings.tsx
Owners: @spacedriveapp/mobile

fix broken eslint on interface
  .vscode/settings.json
  apps/mobile/.eslintrc.js
Owners: @jamiepine, @spacedriveapp/mobile

colors
  apps/mobile/src/constants/style/Colors.js
  apps/mobile/src/constants/style/Colors.ts
  apps/mobile/src/constants/style/tailwind.js
  apps/mobile/tailwind.config.js
Owners: @spacedriveapp/mobile

Fix issue with root locations failing to be added - Add `normpath` dependency to the core - Improve automatic name resolution for new locations
  Cargo.lock
  core/Cargo.toml
  core/src/location/mod.rs
Owners: @jamiepine, @Brendonovich, @oscartbeaumont, @fogodev, @brxken128

Update Cargo.toml - added performance flags to the release profile, to speed up the dependencies and the overall project
  apps/cli/Cargo.toml
Owners: none
